In [ ]:
import pandas as pd

In [ ]:
data = {
    "PassengerId": [892, 893, 894, 895, 896],
    "Survived": [0, 1, 0, 0, 1],
    "Pclass": [3, 3, 2, 3, 3],
    "Fare": [7.8292, 7.0, 9.6875, 8.6625, 12.2875]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df['Pclass'] = pd.to_numeric(df['Pclass'], errors='coerce')
df['Fare'] = pd.to_numeric(df['Fare'], errors='coerce')

In [ ]:
def normalize(series):
    if series.max() == series.min():
        return pd.Series(0, index=series.index)  # Handle no variance
    return (series - series.min()) / (series.max() - series.min())

In [ ]:
df['Normalized_Fare'] = df.groupby('Pclass')['Fare'].transform(normalize)

In [ ]:
print(df)

   PassengerId  Survived  Pclass     Fare  Normalized_Fare
0          892         0       3   7.8292         0.156823
1          893         1       3   7.0000         0.000000
2          894         0       2   9.6875         0.000000
3          895         0       3   8.6625         0.314421
4          896         1       3  12.2875         1.000000